.center-body {
    padding: 70px 0;
    text-align: center;
    margin: auto;
}

img {
    margin: 10px;
}
input {
    width: 30%;
    padding: 12px;
    margin: 10px;
    border: 1px solid rgb(224, 223, 223);
    border-radius: 20px;
}

button{
    margin: 5px;
    padding: 10px;
    background-color: #e6eef5cb;
    border: none;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}
